{% extends "base.html" %}
{% load static %}

{% block title %}categories{% endblock %}

{% block content %}
        <br></br>   
        <h3>Portfolio</h3>
        <div id="sidebar">
                <h3>Categories</h3>
                <ul>

                {% for c in categories %}
                        <!-- <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c. }}</a>
                        </li> -->
                        <div class="item">
                                {% load thumbnail %}
                                {% thumbnail c.image "x150" as cim %}
                                <a href="{{ c.get_absolute_url }}">
                                        <img src="{% if cim %}{{ cim.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                                </a>
                                <!-- <a href="{{ c.get_absolute_url }}">{{ c.name }}</a> -->
                                {% endthumbnail %}
                        </div>
                {% endfor %}
                </ul>
        </div>

{% endblock %}