{% extends "base.html" %}

{% block title %}jakub parcheta{% endblock %}

{% block content %}

    <header class="I-am">
        <div id="logo" >
            <h1>ky.</h1>
        </div>
        <div id="about-me">
            <div id="hi"><h1>Hi,</h1></div>
            <div id="welcome"><p>Welcome to Jakub Parcheta online portfolio</p></div>
            <div id="extra">
                <div id='extra_1'>
                    <div id="extra_1_1"><p>_</p></div>
                    <div id="3_1_2"><p>At that moment I´m working.....</p></div>
                </div>
                <div id='extra_2'>
                    <div id="extra_2_1"><p>_</p></div>
                    <div id="extra_2_2"><p>I´m Jakub Parcheta and I invite you to explore my personal website.</p></div>
                </div>
            </div>
        </div>
    </header>
    
    <section class="separator">
        <p>...............................................................................................................................................................................................................................................................................</p>
    </section>

    <footer class='footer'>
        <div id="copy" class='col col-md-6 col-sm-12'>     
            <a>Copyright © 2019, Jakub Parcheta</a>
        </div>
        <div id="contact" class='col col-md-5 col-sm-12'>     
            <a>jakub.parcheta [at] gmail.com | (+34) 662 260 982 | in</a>
        </div>
    </footer> 
{% endblock %}