* {
    box-sizing: border-box;
}

body { 
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.btn-group{
    float: right;
    padding-right: 5%;
}

.btn-group a{
    background-color: #FAFAFA;
    border: 1px solid rgb(185, 184, 184);
    color: #2d3436;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

/* .btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders 
} */

.btn-group #portfolio{
    border-right: none;
}
.btn-group #invisible_left{
    border-right: none;
    border-bottom: none;

}
.btn-group #invisible_right{
    border-right: none;
    border-bottom: none;

}

.btn-group a{
    border-left: none;
}

.btn-group a:hover {
    background-color: #636e72;
    color: #FAFAFA;
}
/* ################################  header   */
.I-am {
    width: 85%;
    margin-left: 40px;
    overflow: hidden;
}
.I-am #logo{
    width: 30%;
    float: left;
}
.I-am #logo h1{
    font-size: 160px;
    margin:auto 0;
    font-family: 'Ramabhadra', sans-serif;
    font-family: 'Zilla Slab Highlight', cursive;
    font-family: 'Roboto Slab', serif;
}

.I-am #about-me{
    width: 70%;
    float: right;
}
.I-am #about-me #hi{
    font-family: 'Inconsolata', monospace;
    font-family: 'PT Mono', monospace;
    font-family: 'Telex', sans-serif;

}
.I-am #about-me #welcome{
    color: rgb(185, 184, 184);
    width: 55%;
}
.I-am #about-me #welcome p{
    margin:auto 0;
}

#extra{  
    font-family: 'Slabo 27px', serif;
    font-family: 'Jomolhari', serif;
    font-family: 'Slabo 13px', serif;
    overflow: hidden;
}
#extra_1{
    float: left;
    width: 55%;
}

#extra_1_1 p{
    margin:auto 0;
}

#extra_1_2 p{
    margin:auto 0;
}

#extra_2{
    float: right;
    width: 35%;
}

#extra_2_1 p{
    margin:auto 0;
}

#extra_2_2 p{
    margin:auto 0;
}

/* ################################  section   */

.separator p{
    width: 85%;
    margin-left: 40px;
    white-space: nowrap;
}

.highlighted{
    width: 85%;
    margin-left: 40px;
    height: auto;
    /* text-align: justify; */
    /* align-items:center; */
    /* justify-content: center;  */
    border: solid green 2px;
}

.highlighted .project{
    display: inline-block;
    border: solid red 1px;
}

.highlighted .project a{
    display: block;
    text-decoration: none;
    color: rgb(185, 184, 184);
}

/* #project_1 img{margin-left:0px;}

#project_4 img{margin-right:0px} */

/* ################################  footer   */ 
.footer{
    font-family: 'Slabo 27px', serif;
    font-family: 'Unna', serif;
    font-family: 'Jomolhari', serif;
    font-family: 'Slabo 13px', serif;
    font-size: 13px;
    letter-spacing: 1px;
    width: 85%;
    margin-left: 40px;
    height: auto;;
    background-color: black;
    color: rgb(185, 184, 184); /*  #FAFAFA; */
    overflow: hidden;
    position: fixed; 
    bottom: 0px;
}
.col{
    padding:10px;
    padding-bottom:5px;
}
#copy{
    float: left;
}

#contact{
    float: right;
}

#contact a{
    float: right;
    white-space: nowrap;
}



@media only screen and (max-width: 400px) {
    .footer{width: 100%;}
    .navbar{display: flex;align-items:center;justify-content: center;}
}

@media only screen and (max-width: 471px) {
    .btn-group a{padding: 15px 18px;font-size: 15px;}
}

@media only screen and (max-width: 524px) {
    .btn-group{float: left;padding-right: 0%;}
}

@media only screen and (max-width: 665px) {
    .footer{margin-left: 0px;}
    .btn-group #invisible_left{padding:0;border:none;}
    .btn-group #invisible_right{padding:0;border:none;}
}

@media only screen and (max-width: 700px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-2_5 {width: 25%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
    #contact{float: left;}
    #contact a{float: left;}
}

@media only screen and (min-width: 701px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-2_5 {width: 24.7%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* ##################################   portfolio # */

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}


.item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.item img {
    margin-bottom:8px;
}