html,body { 
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    min-height:100vh;
}

.container-fluid{
    padding-left:0; 
    padding-right:0;
    min-height: 100vh;
}

.flex-fill {
    flex:1 1 auto;
    border: solid green 1px;
}
.c{
    border: solid pink 1px;
    /* JQuerry iguala height de .c a la de .flex-fill */  
}

.navbar{
    width:85%;
    height: 76px;
    margin-left: 3%;
    display: inline-block;
    overflow: hidden;
    border: solid blue 1px;
    padding-right:0;
    border-right-width: 0.001px;
}

.navbar_2{
    width:auto;
    height: 76px;
    display: inline-block;
    overflow: hidden;
    border: solid blue 1px;
    padding-left:0;
    margin-left:0;
    padding-top:8px;
    border-left-width: 0.001px;
}

.btn-group{
    float: right;
    width: auto;
    border-right-width: 0.001px;
    border-left-width: 0.001px;
}

.btn-group a{
    background-color: #FAFAFA;
    border: 1px solid rgb(185, 184, 184);
    color: #2d3436;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn-group #portfolio{
    border-right: none;
    border-right-width: 0.001px;
}

#invisible_left, #invisible_right{
    border-right: none;
    border-bottom: none;
    border-left-width: 0.001px;
}

.btn-group a{
    border-left: none;
}

.btn-group a:hover:not(#invisible_right):not(#invisible_left){
    background-color: #636e72;
    color: #FAFAFA;
    cursor: pointer;
}

/* ################################  header   */


.I-am {
    border: solid blue 1px;
    width: 85%;
    height: auto;
    margin-left: 3%;
    overflow: hidden;
}
.I-am #logo{
    border: solid red 1px;
    /* width: 30%; */
    float: left;
    padding-top:0px;
    padding-left:0px;
}
.I-am #logo h1{
    font-size: 160px;
    margin:auto 0;
    color: black;
    border: solid yellow 1px;
    /* font-family: 'Ramabhadra', sans-serif;
    font-family: 'Zilla Slab Highlight', cursive; */
    font-family: 'Roboto Slab', serif;
}

.I-am #about-me{
    /* width: 70%; */
    /* float: right; */
    border: solid red 1px;
    padding-right: 0;
    padding-top:0px;
}
.I-am #about-me #hello{
    display: inline-flex
}

.I-am #about-me #hello #hello_1{
    width: 55%;
}

.I-am #about-me #hello #hello_1 #hi{
    /* font-family: 'Inconsolata', monospace;
    font-family: 'PT Mono', monospace; */
    font-family: 'Telex', sans-serif;
    border: solid yellow 1px;
}

.I-am #about-me #hello #hello_1 #welcome{
    color: rgb(185, 184, 184);
    border: solid yellow 1px;
}
.I-am #about-me #hello #hello_1 #welcome p{
    margin:auto 0;
}

.I-am #about-me #hello #hello_2{
    width: 45%;
    border: solid green 1px;
}

.I-am #about-me #hello #hello_2 #logo_small h1{
    border: solid yellow 1px;
    float: right;
    font-size: 110px;
    /* margin:auto 0; */
    color: black;
    font-family: 'Roboto Slab', serif;
}

#extra{  
    /* font-family: 'Slabo 27px', serif;
    font-family: 'Jomolhari', serif; */
    font-family: 'Slabo 13px', serif;
    overflow: hidden;
    border: solid yellow 1px;
}
#extra_1{
    float: left;
    width: 55%;
    border: solid green 1px;
}

#extra_1_1 p, #extra_1_2 p, #extra_2_1 p, #extra_2_2 p{
    margin:auto 0;
}

#extra_2{
    float: right;
    width: 35%;
    border: solid green 1px;
}

/* ################################  section   */

.separator{
    width:85%;
    height: auto;
    margin-left: 3%;
    display: inline-block;
    overflow: hidden;
    /* border: solid blue 1px; */
}
.separator .sep{
    /* border: solid red 1px; */
    float:left;
}
.separator p{
    white-space: nowrap;
    /* border: solid yellow 1px; */
    margin-bottom: 8px;
}

/* # ############################     projects */

.highlighted{
    width: 85%;
    margin-left: 3%;
    height: auto;
    margin-bottom: 20px;
    border: solid blue 2px;
}

.highlighted .project{
    display: inline-block;
    border: solid red 1px;
    overflow: hidden;   
}

.first{padding-left: 0px;}

.fourth{padding-right: 0px;}

.highlighted .project #project_1{
    width: 220px;
    float: left;
    border: solid yellow 1px;
}
.highlighted .project #project_2{
    width: 233px;
    margin: 0 auto;
    border: solid yellow 1px;
}
.highlighted .project #project_3{
    width: 226px;
    margin: 0 auto;
    border: solid yellow 1px;
    margin: 0 auto 0 auto;
}
.highlighted .project #project_4{
    width: 212px;
    float: right;
    border: solid yellow 1px;
}

.highlighted .project a{
    display: block;
    text-decoration: none;
    color: rgb(185, 184, 184);
}

/* ################################  footer   */ 
.footer{
    /* font-family: 'Slabo 27px', serif;
    font-family: 'Unna', serif;
    font-family: 'Jomolhari', serif; */
    font-family: 'Slabo 13px', serif;
    font-size: 13px;
    letter-spacing: 1px;
    width: 85%;
    margin-left: 3%;
    height: auto;
    background-color: black;
    color: rgb(185, 184, 184); /*  #FAFAFA; */
    display: inline-block;
    overflow: hidden;

}
.col{
    padding:10px;
    padding-bottom:5px;
}
#copy{
    float: left;
}
#contact{
    float: right;
}
#contact a{
    float: right;
    white-space: nowrap;
}


@media only screen and (max-width: 400px) {
    .footi{width: 100%;}
    .navbar{display: flex;align-items:center;justify-content: center;}
}

@media only screen and (max-width: 471px) {
    .btn-group a{padding: 15px 18px;font-size: 15px;}
}

@media only screen and (max-width: 524px) {
    .btn-group{float: left;padding-right: 0%;}
}

@media only screen and (max-width: 665px) {
    .footi{margin-left: 0px;}
    .btn-group #invisible_left{padding:0;border:none;}
    .btn-group #invisible_right{padding:0;border:none;}
}

@media only screen and (max-width: 700px) {
    /* .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;} */
    .col-sm-12 {width: 100%;}
    #contact{float: left;}
    #contact a{float: left;}
}
@media only screen and (min-width: 701px){
    /* .col-md-2_5 {width: 23%;}
    .col-md-3 {width: 25%;}
    .col-md-3_5 {width: 27%;}
    .col-md-4 {width: 33.33%;} */
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
}
/* ############################################## Ky */
@media only screen and (max-width: 999px){
    .I-am #about-me {width:100%;}
    .col-s-12 {width:100%;}
    .I-am #logo, .I-am #logo h1{display: none;}
}

@media only screen and (min-width: 1000px){
    .I-am #about-me #hello #hello_2 #logo_small h1{
        display: none;
    }
}

@media only screen and (max-width: 1040px) {
    .col-m-4{width:30%;}
    .col-m-8{width:70%;}
}

@media only screen and (min-width: 1041px){
    .col-x-3{width:25%;}
    .col-x-9{width:75%;}
}
@media only screen and (max-width:1100px) and (min-width:850px){
    .highlighted .fourth {display: none;}
    .col-l-4 {width: 33.33%}
    .highlighted .project #project_3 {float: right;}
    .third {padding-right: 0px;}
}

@media only screen and (min-width: 1101px){
    .col-xl-2_5 {width: 23%;}
    .col-xl-3_5 {width: 27%;}
}

/* ##################################   portfolio # */

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

.item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.item img {
    margin-bottom:8px;
}