{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Projects{% endif %}
{% endblock %}

{% block content %}

    <div id="projects" class="row">
        <div id="sidebar" class="col-4 col-sm-3 col-md-3 col-lg-1">
            <ul>
                <li><a id="invisible-up" href=""></a></li>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "portfolio:project_list" %}">All</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
                <li><a id="invisible-down" href=""></a></li>
            </ul>
        </div>

        <div id="main" class="col-12 col-sm-11 col-md-10 col-lg-11 project-list">
            <!-- <h1>{% if category %}{{ category.name }}{% else %}Projects{% endif %}</h1> -->
            {% for project in projects %}
                <div class="item">
                    {% load thumbnail %}
                    {% thumbnail project.image "215x150" crop="center" as pim %}
                        <a href="{{ project.get_absolute_url }}">
                            <img src="{% if pim %}{{ pim.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}